table,
td {
    border: 1px solid #000;
    border-collapse: collapse;
    background-color: white;

    
   
    
}



table 
th {
    background-color: #000;
    color: #fff;
    border : 1px solid #fff;
    width: 150px;
    
}

table {
    padding-bottom: 889px;
    padding-top: 889px;
}

button {
background-color: black;
color: white;
border: 1px solid white;
border-radius: 5px;
padding: 1%;


}

table {
    
    margin: 0 auto;
    width: 80%;
}

#container {
 display: flex;
   
    justify-content: center;
    align-items: center;

    padding: 5%;


}

header {
    display: flex;
    
}

body {
    
}

main {
   
    padding: 5%;
}


/* Path: Model.css */





